.image-container {
  transition: transform 0.3s ease, filter 0.3s ease;
  position: relative;
}

.image-container:hover {
  transform: scale(1.7);
  z-index: 1;
}

.image-container.active {
  transform: scale(1.7);
  z-index: 1;
}

.blur-background {
  filter: blur(5px);
  pointer-events: none;
}

